*{
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    --primary-color: rgba(31, 96, 140, 0.762);
}
.head-image{
    background-image: url(images/images.png);
    background-color: var(--primary-color);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-blend-mode: luminosity;
}
.title{
    font-size: 58px;
    font-weight: 600;
    color: rgb(23, 37, 74);

}
.head-container{
    margin: 50px;
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: space-around;

}
.main-container{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    align-items: center;
    justify-content: center;
}
.btn_bookMenu{
    width: 300px;
    height: 60px;
    background-color: var(--primary-color);
    color:azure;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}
.btn_bookMenu:hover{
    font-weight: 800
}
.add-modal__container{
    background-color: rgba(128, 128, 128, 0.636);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-box{
    display: flex;
    padding: 25px;
    gap: 25px;
    border: 2px solid rgba(9, 68, 139, 0.177);
    border-radius: 5px;
    box-shadow: 1px 2px 10px rgb(195, 194, 194);
    align-items: center;
    justify-content: space-around;
    background-color: white;
    
}
input{
    outline-color: gray;
    border-width: 2px;
    border-radius: 5px;
}
input:focus{
    border-color: var(--primary-color);
    border-width: 3px;
    outline: none;
}
.add-container__item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
p{
    font-weight: 600;
}
.button-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modal-btn{
    background-color: var(--primary-color);
    color: azure;
    font-size: 18px;
    border-radius: 5px;
}
.modal-btn:hover{
    font-weight: 800;
    cursor: pointer;
}
.bookBox__item{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(9, 68, 139, 0.177);
    border-radius: 10px;
    align-items: center;
    width: calc(100% / 5);
    padding: 20px;
    gap:20px;
}
.bookBox__item_image{
    height: 200px;
}
.bookBox__item_title{
    font-size: 20px;
    font-weight: 600;
    color:black;
    text-align: center;
    
}
.bookBox__item_year{
    font-size: 18px;
    color: rgb(31, 96, 140);
    font-weight: 600;
}
.bookBox__item_author{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    background-color: rgba(31, 96, 140, 0.51);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.bookBox__item_buttons{
    display: flex;
    gap: 30px;
    

}
.btn{
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.btn:hover{
    font-weight: 800;
}
@media(max-width: 1024px){
    .bookBox__item{
        width: calc(100% / 4);
    }
}

@media(max-width: 820px){
    .bookBox__item{
        width: calc(100% / 3);
    }
    
    .head-container-addBook{
        flex-direction:column;
    }
    .add-container{
        flex-wrap: wrap;
        gap:10px;
        padding: 10px;
        margin: 10px;
    }
    .add-container__item{
        width: 100%;
    }
    .modal-box{
        flex-direction: column;
        width: 75%;
        padding: 30px 100px;
    }
}
@media(max-width:600px){
    .main-container{
        margin:20px;
    }
    .bookBox__item{
        width:100%;
        padding: 20px 50px;
    }
    .add-container{
        flex-wrap: wrap;
        gap:10px;
        padding: 10px;
        margin: 10px;
    }
    .head-container-addBook{
        flex-direction:column;
    }
    .modal-box{
        padding: 20px;
    }
    .head-container{
        flex-direction: column;
    }
}
@media(max-width:400px){
    .add-container{
        flex-direction: column;
        gap:10px;
        padding: 10px;
        
    }
    
}
@media(max-width:280px){
    .head-image{
        background-size: cover;
    }
    .btn_bookMenu{
        width: 100%;
    }
}