*{
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}
.head-image{
    background-image: url(images/images.png);
    background-color: rgba(31, 96, 140, 0.762);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-blend-mode: luminosity;
}
.title{
    font-size: 58px;
    font-weight: 600;
    color: rgb(23, 37, 74);
    margin: 50px 0px; 

}
.main-container{
    max-width: 1500px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    align-items: center;
    justify-content: center;
}
.bookBox__item{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(9, 68, 139, 0.177);
    border-radius: 10px;
    align-items: center;
    width: calc(100% / 5);
    padding: 20px;
    gap:20px;
}
.bookBox__item_title{
    font-size: 20px;
    font-weight: 600;
    color:black;
    text-align: center;
    
}
.bookBox__item_year{
    font-size: 18px;
    color: rgb(31, 96, 140);
    font-weight: 600;
}
.bookBox__item_author{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    background-color: rgba(31, 96, 140, 0.51);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.bookBox__item_buttons{
    display: flex;
    gap: 30px;
    

}
.btn{
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.btn:hover{
    font-weight: 800;
}
@media(max-width: 768px){
    .bookBox__item{
        width: calc(100% / 3);
    }
}
@media(max-width:600px){
    .main-container{
        margin:20px;
    }
    .bookBox__item{
        width:100%;
        padding: 20px 50px;
    }
}