*{
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    --primary-color: rgba(31, 96, 140, 0.762);
}
.head-image{
    background-image: url(images/images.png);
    background-color: var(--primary-color);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-blend-mode: luminosity;
}
.head-container-addBook{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
}
.title{
    font-size: 58px;
    font-weight: 600;
    color: rgb(23, 37, 74);
    margin: 50px auto; 

}
.main-container{
    max-width: 1500px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    align-items: center;
    justify-content: center;
}
.btn_bookMenu{
    width: 300px;
    height: 60px;
    background-color: var(--primary-color);
    color:azure;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}
.add-container{
    display: flex;
    padding: 25px;
    gap: 25px;
    border: 2px solid rgba(9, 68, 139, 0.177);
    border-radius: 5px;
    box-shadow: 1px 2px 10px rgb(195, 194, 194);
    align-items: center;
    justify-content: space-around;
    display: none;
    
}
.add-container__item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
p{
    font-weight: 600;
}
#addBook{
    background-color: var(--primary-color);
    color: azure;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.bookBox__item{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(9, 68, 139, 0.177);
    border-radius: 10px;
    align-items: center;
    width: calc(100% / 5);
    padding: 20px;
    gap:20px;
}
.bookBox__item_image{
    height: 200px;
}
.bookBox__item_title{
    font-size: 20px;
    font-weight: 600;
    color:black;
    text-align: center;
    
}
.bookBox__item_year{
    font-size: 18px;
    color: rgb(31, 96, 140);
    font-weight: 600;
}
.bookBox__item_author{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    background-color: rgba(31, 96, 140, 0.51);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.bookBox__item_buttons{
    display: flex;
    gap: 30px;
}

.btn:hover{
    font-weight: 800;
}
.input:focus {
    outline: 3px gray;
}
@media(max-width: 768px){
    .bookBox__item{
        width: calc(100% / 3);
    }
    
    .head-container-addBook{
        flex-direction:column;
    }
    .add-container{
        flex-wrap: wrap;
        gap:10px;
        padding: 10px;
        margin: 10px;
    }
}
@media(max-width:600px){
    .main-container{
        margin:20px;
    }
    .bookBox__item{
        width:100%;
        padding: 20px 50px;
    }
    .add-container{
        flex-wrap: wrap;
        gap:10px;
        padding: 10px;
        margin: 10px;
    }
    .head-container-addBook{
        flex-direction:column;
    }
}
@media(max-width:400px){
    .add-container{
        flex-direction: column;
        gap:10px;
        padding: 10px;
        
    }
    
}